.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: rgb(0,0,255);
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before,
.navbar-b.navbar-scroll .nav-item.active .nav-link:before {
  width: 35px;
  background-color: rgb(0,0,255);
}

.navbar-b.navbar-reduce .nav-link:before,
.navbar-b.navbar-scroll .nav-link:before {
  background-color: rgb(0,0,255);
}

.navbar-b.navbar-scroll {
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
  z-index: 1000;
  background-color: #fff;
}

.navbar-b.navbar-scroll:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.navbar-b.navbar-scroll .nav-link,
.navbar-b.navbar-scroll .navbar-brand {
  color: #b5b5b5;
}

.navbar-b.navbar-scroll .nav-item.active .nav-link,
.navbar-b.navbar-scroll .nav-link:hover {
  color:rgb(0,0,255);
}

.navbar-b.navbar-scroll .navbar-toggler span {
  background-color: #a8a4a4;
}

/*--/ Hamburger Navbar /--*/

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}